$themeFont: "ibm-plex-sans", "Helvetica Neue", "Arial", "sans-serif"; 

body {
    font-size: 16px;
    background-color: transparent;
}

.as-title span{
    font-weight: 700;
    padding-top: 0.5em;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.as-subtitle {
    font-weight: 700;
    font: 0.875em;
    padding: 0.2em;
}

.as-button-uppercase {
    text-transform: uppercase
}

.bx--responsive-table-container {
    .bx--table-header {
        letter-spacing: unset;
        text-transform: unset;
    }
    .bx--table-row th {
        font-size: 0.875em;
        color: #5d686f; 
        padding: 0.75em;
        span {
            font-weight: 700;
        }
    } 
    .bx--table-row td{
        font-size: 0.875em;
        font-weight: 400;
        padding: 0.75em;
        span {
            font-weight: 400;
        }
        .small{
            width: 0.75em;
            margin-right: 0.5em;
        }
        .big{
            width: 3em;
            height: 3em;
            border-width: 0.1em;
            margin-right: unset;
        }
        .bx--overflow-menu-options button {
            font-size: 0.875em;
        }
    }
}

.as-service-table {
    margin-top: 1em;
    .bx--card-footer__app-status--running {
        font-size: unset;
        .bx--running__text {
            font-weight: 400;
        }
    }
    .bx--card-footer__app-status--stopped {
        font-size: unset;
        .bx--running__text {
            font-weight: 400;
        }
    }
    .bx--card-footer__app-status--stopped::before {
        background-color: #8c9ba5;
    }
}

.bx--tile {
    border-color: #BDBDBD
}

.dashboard-app-icon {
    width: 64px;
       height: 64px;
       border-radius: 64px;
}

body .bx--tooltip__message {
font-size: 0.75em;
}
