@import 'node_modules/carbon-components/scss/globals/scss/_layer';

.policy-des {
    margin-top: 1.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.policy-des .bottom-button {
    margin-top: 1em;
    button {
        margin-right: 0.5em
    }
}

.policy-des span{
    color: #5d686f;
}

.no-policy-des {
    @include layer('pop-out');
    padding: 2em;
    margin-top: 1.5em;
    background-color: transparent;
    text-align: center;
    svg {
        width: 2em;
        height: 2em
    }
    p {
        font-size: 0.875em
    }
}

.as-policy-json {
    .bx--modal-container {
        width: 80%;
        max-height: 50%;
        padding: 0;
        .bx--modal-header {
            display: none
        }
        .bx--modal-footer {
            display: none
        }
        .bx--modal-content {
            margin-bottom: 0;
            .bx--snippet--code {
                max-width: unset;
                .bx--snippet-container {
                    max-height: unset;
                }
            }
        }
    }
}

.policy-des .bx--snippet span {
    color: unset
}

.policy-des .title {
    margin-top: 1em;
    span {
        font-size: 1.25em;
        font-weight: 400;
        line-height: 2em;
        
    }
}

.policy-des .sub-title {
    margin-left: 1em;
    line-height: 2em;
    span {
        font-size: 0.9em;
        font-weight: 600;
        nobr {
            font-weight: 600;
        }
    }
}

.policy-des .rule-des {
    margin-left: 1em;
    font-size: 0.9em;
    line-height: 2em;
    img {
        margin-right: 0.5em;
        width: 0.75em;
        height: 0.75em;
        margin-bottom: 0.25em;
    }
    .bold-num {
        color: black;
        font-size: 1.25em;
        font-weight: bold;
        nobr {
            font-weight: bold;
        }
    }
}

.policy-des .rule-limit {
    margin-left: unset
}

.scale-in-arrow {
    color: #e0182d;
    font-size: 1.125em;
}

.scale-out-arrow {
    color: #5aaafa ;
    font-size: 1.125em;
}

.scale-error-arrow {
    color: #efc100;
    font-size: 1.125em;
}

.asc-title-header{
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-bottom: 1em;
    line-height: 2em;
  }
  
  .asc-title-header .policy-form-btn{
    margin-right: 15px;
    text-decoration: none;
    border-right: solid 1px #3d70b2;
    padding-right: 15px;
    padding-left: 15px;
  }