scalerui-release/src/scalerui/view/dev
scalerui-release/src/scalerui/view/node_modules
scalerui-release/src/scalerui/bin/*
scalerui-release/src/scalerui/pkg/*
scalerui-release/src/scalerui/view/package-lock.json
*.coverprofile
scalerui-release/.dev_builds/
scalerui-release/blobs/
scalerui-release/dev_releases/
main
