[submodule "scalerui/src/code.cloudfoundry.org/cfhttp"]
	path = scalerui-release/src/scalerui/src/code.cloudfoundry.org/cfhttp
	url = https://github.com/cloudfoundry/cfhttp.git
[submodule "scalerui/src/code.cloudfoundry.org/clock"]
	path = scalerui-release/src/scalerui/src/code.cloudfoundry.org/clock
	url = https://github.com/cloudfoundry/clock.git
[submodule "scalerui/src/code.cloudfoundry.org/lager"]
	path = scalerui-release/src/scalerui/src/code.cloudfoundry.org/lager
	url = https://github.com/cloudfoundry/lager.git
[submodule "scalerui/src/github.com/gorilla/context"]
	path = scalerui-release/src/scalerui/src/github.com/gorilla/context
	url = https://github.com/gorilla/context.git
[submodule "scalerui/src/github.com/gorilla/csrf"]
	path = scalerui-release/src/scalerui/src/github.com/gorilla/csrf
	url = https://github.com/gorilla/csrf.git
[submodule "scalerui/src/github.com/golang/protobuf"]
	path = scalerui-release/src/scalerui/src/github.com/golang/protobuf
	url = https://github.com/golang/protobuf.git
[submodule "scalerui-release/src/scalerui/src/github.com/gorilla/handlers"]
	path = scalerui-release/src/scalerui/src/github.com/gorilla/handlers
	url = https://github.com/gorilla/handlers.git
[submodule "scalerui/src/github.com/gorilla/mux"]
	path = scalerui-release/src/scalerui/src/github.com/gorilla/mux
	url = https://github.com/gorilla/mux.git
[submodule "scalerui/src/github.com/gorilla/securecookie"]
	path = scalerui-release/src/scalerui/src/github.com/gorilla/securecookie
	url = https://github.com/gorilla/securecookie.git
[submodule "scalerui/src/github.com/gorilla/sessions"]
	path = scalerui-release/src/scalerui/src/github.com/gorilla/sessions
	url = https://github.com/gorilla/sessions.git
[submodule "scalerui-release/src/scalerui/src/github.com/nu7hatch/gouuid"]
	path = scalerui-release/src/scalerui/src/github.com/nu7hatch/gouuid
	url = https://github.com/nu7hatch/gouuid.git
[submodule "scalerui/src/github.com/onsi/gomega"]
	path = scalerui-release/src/scalerui/src/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
[submodule "scalerui/src/github.com/pkg/errors"]
	path = scalerui-release/src/scalerui/src/github.com/pkg/errors
	url = https://github.com/pkg/errors.git
[submodule "scalerui/src/github.com/onsi/ginkgo"]
	path = scalerui-release/src/scalerui/src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
[submodule "scalerui/src/github.com/tedsuo/ifrit"]
	path = scalerui-release/src/scalerui/src/github.com/tedsuo/ifrit
	url = https://github.com/tedsuo/ifrit
[submodule "scalerui-release/src/scalerui/src/golang.org/x/sync"]
	path = scalerui-release/src/scalerui/src/golang.org/x/sync
	url = https://github.com/golang/sync.git
[submodule "scalerui/src/golang.org/x/text"]
	path = scalerui-release/src/scalerui/src/golang.org/x/text
	url = https://github.com/golang/text.git
[submodule "scalerui/src/gopkg.in/yaml.v2"]
	path = scalerui-release/src/scalerui/src/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "scalerui/src/golang.org/x/net"]
	path = scalerui-release/src/scalerui/src/golang.org/x/net
	url = https://github.com/golang/net.git
