.app-view {
	background: white;
	border: 1px solid #dfe6eb;
	min-height: 480px;
}

.app-view .bx--content-switcher {
	height: 3.5rem;
	margin-top: 1em;
}

.app-view .bx--content-switcher-btn {
	text-decoration: none;
	font-size: 0.9em;
}

.app-view .bx--content-switcher-btn:hover {
	text-decoration: none;
	font-size: 0.9em;
}

.app-view .bx--tabs {
	background:#f4f7fb;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1em;
	padding-bottom: 0.5em;
	min-height: 4em;
	a {
		font-weight: 600;
	}
	.as-tab-selected {
		color: #3d70b2;
		border-bottom: 2px solid #3d70b2;
	}
	.as-tab-unselected {
		color: #152935;
		border-bottom: unset;
	}
}

.app-view .app-view-body {
	margin-bottom: 1em;
	margin-left: 3%;
	margin-right: 3%;
}

.app-view .as-app-table {
	margin-left: 5%;
	margin-right: 5%;
}