@import 'main';

.history-view {
    font-family: $themeFont;
    margin-top: 1.25em;
}

.history-view .bx--grid {
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin: unset;
    .bx--grid {
        padding: unset;
        margin: unset;
    }
}

.history-view .query-label {
    margin-top: 0.5em;
    span {
        font-family: $themeFont;
        font-size: 0.875em;
        font-weight: 600;
        color: #5d686f;
    }
    .bx--btn span {
        color: white        
    }
}

.history-view .bx--form-item {
    span {
        font-size: 0.75em;
    }
    .bx--list-box__menu-item {
        font-size: 0.7em
    }
}

.history-view .bx--date-picker {
    .bx--label {
        display: none
    }
    .bx--date-picker__icon {
        top: 0.25rem;
    }
    .bx--date-picker__input {
        font-weight: 400;
        font-family: $themeFont;
        font-size: 0.75em;
        max-width: 10em;
        width: 10em;
        color: #5d686f;
    }
}

.history-view .left-block {
    padding-right: unset
}

.history-view .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    margin: unset;
    font-size: 0.75em;
    li {
        display: inline;
        a {
            font-weight: 400;
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: #337ab7;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
        }
    }
    .disabled {
        a {
        color: #777; 
        cursor: not-allowed; 
        background-color: #fff; 
        border-color: #ddd; 
        }
    }
       
}

.history-view .bar-left {
    float: left;
}
.history-view .bar-right {
    float: right;
}

.history-view .scale_in_out {
    height: 0.75em;
    width: 0.75em;
    margin-bottom: 0.2em;
}

.history-view .bx--date-picker-container {
    height: 1.7em;
}

.history-view .bx--dropdown {
    margin-top: 0.75em;
}

.history-view .bx--date-picker {
    margin-top: 0.75em;
}

.history-view {
    table{
        table-layout:fixed;
    }
}

