@import 'main';

.metrics-view {
    margin-top: 1.25em;
    font-family: $themeFont;
    color: #5d686f;
    span {
        font-family: $themeFont;
        color: #5d686f; 
    }
}

.metrics-view .bx--grid {
    padding: unset;
    margin-left: 0.25em;
    margin-right: 0.25em;
    .bx--row {
        margin-top: 0.5em;
        line-height: 2.2em;
        .bx--multi-select {
            top: 0.37em;
        }
        .bx--dropdown {
            top: 0.37em;
        }
        .bx--list-box__field {
            bottom: 0.37em
        }
    }
}

.metrics-view .select-title {
    display: inline-block;
    span{
        font-size: 0.875em;
        font-weight: bold;
    }
}

.metrics-view .select-text {
    span{
        font-size: 0.875em;
    }
}

.metrics-view .bx--form-item {
    .bx--list-box__menu-item {
        font-size: 0.7em
    }
}

.metrics-view .bx--date-picker {
    .bx--label {
        display: none
    }
    .bx--date-picker__icon {
        top: 0.25rem;
    }
    .bx--date-picker__input {
        font-weight: 400;
        font-family: $themeFont;
        font-size: 0.75em;
        max-width: 9.5em;
        width: 9.5em;
        color: #5d686f;
    }
}

.metrics-view .bx--dropdown-v2 {
    display: inline-block
}

.metrics-view .bx--form-item {
    display: inline-block;
    margin-bottom: unset;
}

.metrics-view .inline-block {
    display: inline-block;
}

.metrics-view .select-time {
    width: 6em;
    display: inline-block;
    margin-left: 1em;
}

.metrics-view .bx--btn span {
    color: white;
    font-size: 0.875em;
    font-weight: 600;
}

.metrics-view .bx--modal-close {
    display: none
}

.metrics-view .bx--inline-notification {
    margin-bottom: 1em;
    margin-top: 0.5em;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.metrics-view {
    .bx--multi-select {
        width: 10.5em;
    }
}

.metrics-view .bx--date-picker-container {
    height: 1.8em;
}
