@import 'main';

.policy-form {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.policy-form th {
	padding-left: 10px;
}

.policy-form .bx--label {
	display: none;
}

.policy-form .bx--date-picker__icon {
	top: 0.375em;
}

.policy-form .add-button {
	width: 100%;
	span {
		color: white
	}
}

.policy-form .bx--tile {
	margin: 10px;
	padding-bottom: 1.2em;
}

.policy-form .bx--list-box__menu {
	max-height: 20rem;
}

.form-group-horizontal label{
	width:25%;
	text-align: left;
	line-height: 1.5em;
}
.form-group-horizontal p{
	display: inline-block;
	margin:0 0 0 10px;
}
.form-group-horizontal .form-control{
	display: inline-block;
}

.policy-form .bx--tile__chevron {
	svg {
		margin-bottom: 0.75rem
	}
	padding-right: 0.2em
}

.policy-form {
	.remove-btn {
		position: absolute;
    	right: 2%;
	}
}

.policy-form .tileAboveTheFoldContent {
	margin-bottom: 0.3em
}

.policy-form .tileBelowTheFoldContent {
	padding-top: 0.8em;
}

.form-group-horizontal .form-group-left {
	margin-left: 0em;
}

.form-group-horizontal .form-group-right {
	span {
		font-size: 0.875em
	}
}

.policy-form .bx--select-input {
	font-size: 1rem;
	font-family: $themeFont
}

.policy-form .advanced-body  {
	.number-unit {
		font-size: 0.75em;
		bottom: 0;
		position: absolute;
		margin-left: 0.5em;
		nobr {
			color: #3d70b2;
		}
	}
	.bx--label {
		font-family: $themeFont;
		font-size: 0.75em;
	}
	
}

.policy-form .bx--grid {
	margin: unset;
	padding-left: 1em;
	padding-right: 1em;
	.bx--grid {
		margin: unset;
		padding: unset;
	}
}

.policy-form .bx--date-picker__input {
	max-width: 12rem;
	font-size: 0.75em;
	font-family: $themeFont;
}

.policy-form .bx--radio-button__label {
	font-size: 0.8em;
	font-weight: 400;	
}

.policy-form .bx--fieldset {
	margin-bottom: unset
}

.recurring-form .bx--row {
	.bx--col-xs-12 {
		line-height: 2.2em;
		min-height: 2.2em;
	}
}

.policy-form .recurring-form .show-label {
	font-family: $themeFont;
	.bx--label {
		display: unset;
		font-size: 0.75em;
	}
	.bx--list-box__label {
		font-size: 1.25em
	}
}

.policy-form .recurring-form .show-label span{
    font-family: $themeFont;
	font-size: 0.75em;
	font-weight: bold
}

.policy-form label {
	color: #5d686f;
}

.policy-form .recurring-title span {
    font-size: 0.8em;
	font-weight: bold;
}


.policy-form .subRuleDescription {
	margin-top: 0.25em
}

.specific-form table{
	tr {
		height: 2.5em;
		td {
			vertical-align: middle;
			text-align: center;
		}
		input {
			height: 2.25em;
		}
		select {
			height: 2.8em;
		}
		.near .bx--form-item{
			margin-left: 0.5em;
		}
	}
	
}

.specific-form .bx--date-picker__icon {
	top: 0.3em;
}

.formTriggersDescription .triggerTitle { 
    nobr {
        font-weight: bold;
    }
    span {
        font-size: 0.875em;    
        font-weight: bold;
	}
	margin-top: 1em;
	margin-left: 0.5em
}

.policy-form .inline {
	display: inline-block;
	.bx--dropdown-v2 {
		width:10em;
		margin-left: 1em;
	}
}

.policy-form .form-group-right .bx--list-box{
	width: 12em;
	.bx--list-box__label {
		font-size: 0.75em;
	}
	.bx--list-box__menu-item {
		font-size: 0.7em;
	}
}

.policy-form .triggersDescription .triggerTitle {
	margin-bottom: 0.5em
}

.specific-form tr .bx--dropdown-v2 {
	width: 4.5em
}

.formTriggersDescription tr {
	height: 2em
}

.policy-form .bx--form-requirement {
	display: none
}

.policy-form .bx--number[data-invalid] input[type='number'] {
    box-shadow: 0 1px 0 0 #5a6872
}

.policy-form div[data-invalid] {
	box-shadow: unset;
}

input:-moz-ui-invalid:not(output):not([data-invalid]) {
    box-shadow: 0 1px 0 0 #5a6872;
}

.policy-form .as-data-invalid-container input:-moz-ui-invalid:not(output):not([data-invalid]) {
    box-shadow: 1px 0.5px 1px 0.2px #e71d32;
}

.policy-form .as-data-invalid-container[data-invalid] input[type='number'] {
    box-shadow: 1px 0.5px 1px 0.2px #e71d32;
}

.policy-form .as-data-invalid{
    box-shadow: 1px 0.5px 1px 0.2px #e71d32;
}

.policy-form .as-data-invalid-container input{
    box-shadow: 1px 0.5px 1px 0.2px #e71d32;
}

.policy-form .form-toggle {
	.bx--toggle__text--right {
		margin-left: 1em;
	}
	span {
		font-size: 0.8em;
	}
}

.policy-form .as-timezone {
	margin-left: 0.5em
}

.policy-form .policy-form-btn{
    margin-right: 1em;
    text-decoration: none;
    padding-right: 1em;
    padding-left: 1em;
  }

.policy-form .add-new {
	text-align: center;
	cursor:pointer;
	svg {
		width: 0.6em;
		height: 0.6em;
	}
	span {
		font-size: 0.875em;
		margin-left: 0.5em;
	}
}

.policy-form .bx--tooltip__trigger {
	font-size: 0.8em;
	font-weight: bold;
	color: #5d686f;
	svg {
		margin-left: 0.2em;
		width: 0.875em;
	}
}

.policy-form .sub-title .bx--tooltip__trigger {
	font-size: 0.9em;
	font-weight: bold;
}

.policy-form .fake-tile {
	text-align: right;
	border-color: white;
	box-shadow: unset;
	padding: unset;
	button {
		margin-right: unset;
	}
}

.policy-form .bx--accordion {
	.bx--accordion__heading {
		p {
			color: #5d686f
		}
	}
}

.policy-form {
	.as-expand-icon {
		position: absolute;
		right: 50%;
		margin-top: 0.6em;
		width: 0.9em
	}
	.as-expand-icon-hide {
		display: none;
	}
	.as-expand-icon-show {
		display: show;
	}
}

.policy-form .bx--tile--clickable {
	padding-bottom: 1rem;
}

.policy-form .title {
	margin-top: unset;
    span {
        font-size: 1em;
        font-weight: 600;
        line-height: 2em;
    }
}

.policy-form .trigger-tile .bx--number input[type='number'] {
    height: 2.35em;
}

.specific-form .bx--tooltip__trigger{
	font-size: 0.825em
}

.policy-form .rule-des {
	line-height: 2.5em;
	.bx--dropdown {
		top: 0.45em;
	}
	.bx--list-box__field {
		bottom: 0.45em
	}
	.bx--list-box__menu {
		top: 1.9em
	}
}

.specific-form {
	.bx--date-picker.bx--date-picker--single .bx--date-picker__input {
		width: 9.6em;
	}
	.bx--date-picker-container {
		top: 0.1em;
	}
}

.recurring-form .bx--date-picker-container{
	width: 6.8em
}

.recurring-form {
	.bx--list-box__field {
		bottom: 0.45em
	}
	.bx--list-box__menu {
		top: 1.9em
	}
	.bx--list-box {
		top: 0.3em
	}
	.bx--dropdown {
		top: -0.1em;
	}
}

.recurring-form .bx--toggle__label {
	margin: unset
}

.instance-limit-form .bx--grid {
	padding: 0em;
}

.recurring-tile {
	position: unset;
	padding: 10px;
	.remove-btn {
		margin-right: 3.5em
	}
}
